.wp-block-navigation .has-icon.wp-block-navigation-item__content {
    display: flex;
    align-items: center;
}

.menuplus-icon.is-label-hidden ~ * {
    display: none;
}

.is-menu-open .menuplus-icon.is-label-hidden ~ * {
    display: inline-flex;
}